/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header {
    padding: 17px 0 12px 0;
  }

  .c_ul {
    text-align: right;
  }

  .c_ul li a {
    font-size: 17px;
    margin: 5px 5px !important;
  }
  /* Slider Start */
  .slider {
    padding-top: 0px;
    padding-bottom: 60px;
  }
  .c_indicators {
    bottom: -65px;
  }
  .s_left {
    padding-right: 5px;
  }
  .cmn_h1 {
    font-size: 26px;
  }

  .cmn_subheading {
    font-size: 18px;
    line-height: 25px;
    margin: 14px 0;
  }
  .s_left_icons {
    text-align: center;
  }
  .s_left_icons ul li {
    margin-right: 0 !important;
    margin: 0 12px !important;
  }

  /* Feature Start */
  .features {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .feature_icon i {
    font-size: 40px;
  }
  .feature_item {
    margin-top: 15px;
  }
  .px_17 {
    font-size: 17px;
  }

  /* Subscriber Start */
  .subscriber {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .form_contents input {
    padding: 10px;
    width: 95%;
    margin-right: 0;
  }
  .form_contents button {
    margin-top: 27px;
    padding: 7px 13px;
  }
  .social_icons {
    margin-top: 35px;
  }
  .icons_list i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;
  }

  .icons_list i:hover {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  /* footer */

  .footer {
    padding-bottom: 25px;
  }

  .footerfirst {
    margin-bottom: 20px;
  }

  .copyright {
    margin-top: 25px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    padding: 12px 0;
  }
  .c_ul {
    text-align: right;
  }
  .c_ul li a {
    font-size: 17px;
    margin: 5px 5px !important;
  }
  /* Slider Start */
  .slider {
    padding-top: 10px;
    padding-bottom: 85px;
  }
  .c_indicators {
    bottom: -75px;
  }
  .s_left {
    padding-right: 5px;
  }
  .cmn_h1 {
    font-size: 26px;
  }
  .cmn_subheading {
    margin: 14px 0;
    font-size: 18px;
    line-height: 25px;
  }
  .s_left_icons {
    text-align: center;
  }
  .s_left_icons ul li {
    margin-right: 0 !important;
    margin: 0 12px !important;
  }
  /* Feature Start */
  .features {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .feature_icon i {
    font-size: 40px;
  }
  .feature_item {
    margin-top: 15px;
  }
  .feature_description {
    padding-right: 20px;
  }
  /* Subscriber Start */
  .subscriber {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .form_contents input {
    padding: 10px;
    width: 100%;
    margin-right: 0;
  }
  .form_contents button {
    margin-top: 27px;
    padding: 7px 13px;
  }

  .social_icons {
    margin-top: 35px;
  }
  .icons_list i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;
  }
  .icons_list i:hover {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
  /* footer */

  .footerfirst {
    padding-bottom: 20px;
  }

  .copyright {
    margin-top: 25px;
  }
  .footerfirst {
    margin-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Header Start */
  header {
    padding: 12px 0;
  }
  .c_ul {
    text-align: right;
  }
  .c_ul li a {
    font-size: 20px;
    margin: 5px 5px !important;
  }
  /* Slider Start */
  .slider {
    padding-bottom: 100px;
  }
  .c_indicators {
    bottom: -75px;
  }
  .s_left {
    padding-right: 50px;
  }

  /* Feature Start */
  .features {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .feature_item {
    margin-top: 50px;
  }

  /* Subscriber Start */
  .subscriber {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .social_icons {
    margin-top: 60px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}
